*{
    padding: 0px;
    margin:0px;
    box-sizing: content-box;
}

.main{
    background-image: url(./ASSEST/ramen.jpg);
    background-size: cover;
}
.nav{
    display:flex ;
    padding: 10px;
}
.image{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
}

.menu{
    display: flex;
    list-style: none;
    margin-left: 500px;
}

.menu a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.menu a li:hover{
    color: cornflowerblue;
}
.icon{
    margin-left: 400px;
    margin-top: 10px;
}
.nav-icon{
    padding-top: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
}

.nav-icon:hover{
    color: cornflowerblue;
}

.home{
    color: white;
    padding-top:200px ;
    padding-left: 50px;
    padding-bottom: 335px;
}

.h{
    padding-bottom: 20px;
}

.c{
    font-size: 50px;
    padding-bottom: 20px;
}
.p{
    padding-bottom: 20px;
}

.order{
    display: inline-block;
    border: 3px cornflowerblue solid;
    background-color: cornflowerblue;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px;
}